*
!delivery.png
!facebook.png
!icon.png
!lc.png
!logo.png
!shop.png
!twitter.png
!user.png
!google_play.png
!app_store.png
!header_screenshot.png
!app_features_image.png
!delivery_image.png
!.gitignore
