
/* Start Nav */


.navbar li img{
	 

	    margin-left: 10px;
}

/* End Nav  */

/* Start About App  */

.about-app .left-col .border-img{
	    right: 45%
	
}
/* End About App  */


/* Start   footer */

.footer .follow-us {
	      bottom: 2%;
    position: absolute;
    left: 0;
	
}

.footer .contact-us{
	
    padding-top: 31px;
	padding-right: 4%;

}
/* End   footer */